* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: Material Design Icons, JetBrainsMono Nerd Font;
  font-size: 13px;
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.2s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial; /* Remove GTK theme values (waybar #1351) */
  min-width: 0; /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent; /* Use box-shadow instead of border so the text isn't offset */
  padding: 6px 18px;
  margin: 6px 3px;
  border-radius: 4px;
  background-color: #1e1e2e;
  color: #cdd6f4;
}

#workspaces button.active {
  color: #1e1e2e;
  background-color: #ffffff;
}

#workspaces button:hover {
 box-shadow: inherit;
 text-shadow: inherit;
 color: #1e1e2e;
 background-color: #ffffff;
}

#workspaces button.urgent {
  background-color: #ffffff;
}

#memory,
#custom-power,
#battery,
#backlight,
#pulseaudio,
#network,
#clock,
#custom-settings,
#custom-logo {
  border-radius: 4px;
  margin: 6px 3px;
  padding: 6px 12px;
  background-color: #1e1e2e;
  color: #181825;
}

#custom-power {
  margin-right: 6px;
}

#memory {
  background-color: #ffffff;
}

#battery {
  background-color: #ffffff;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #181825;
  }
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #ffffff;
  color: #181825;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#battery.charging {
  background-color: #ffffff;
}

#backlight {
  background-color: #ffffff;
}

#pulseaudio {
  background-color: #ffffff;
}

#network {
  background-color: #ffffff;
  padding-right: 17px;
}

#clock {
  font-family: JetBrainsMono Nerd Font;
  background-color: #ffffff;
}

#custom-power {
  background-color: #ffffff;
}

#tray {
  border-radius: 4px;
  margin: 6px 3px;
  padding: 6px 12px;
  background-color: #1e1e2e;
  color: #181825;
}

#custom-settings {
  background-color: #ffffff;
}


tooltip {
border-radius: 8px;
padding: 15px;
background-color: #1e1e2e;
}

tooltip label {
padding: 5px;
background-color: #1e1e2e;
}
